# KataGo analysis-engine config for phones (CPU/Eigen on Android, Metal on iOS).
logDir = logs
logToStderr = false
reportAnalysisWinratesAs = BLACK
maxVisits = 100
numAnalysisThreads = 1
numSearchThreadsPerAnalysisThread = 4
nnMaxBatchSize = 8
nnCacheSizePowerOfTwo = 18
nnMutexPoolSizePowerOfTwo = 14
nnRandomize = true
